@model UpdateFeatureDTO

@{
    ViewData["Title"] = "Yeni Önce Çıkan Bilgisi Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>ID</label>
    <input type="text" asp-for="ID" disabled class="form-control" />
    <br />
    <label>Resim URL</label>
    <input type="text" asp-for="ImageURL" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Alt-Başlık</label>
    <input type="text" asp-for="SubTitle" class="form-control" />
    <br />
    <label>Büyüklük</label>
    <input type="number" asp-for="Square" class="form-control" />
    <br />
    <label>Kantrat Türü</label>
    <input type="number" asp-for="Contract" class="form-control" />
    <br />
    <label>Güvenlik</label>
    <select asp-for="HasSafety" class="form-control">
        <option>Seçim Yapınız...</option>
        <option value="true">Var</option>
        <option value="false">Yok</option>
    </select>
    <br />
    <button class="btn btn-outline-dark"><i class="la la-save"></i> Güncelle</button>
</form>