<footer>
    <div class="container">
        <div class="col-lg-8">
            <p>
                Copyright © @DateTime.Now.Year Villa Agency Co., Ltd. Tüm hakları saklıdır.

                Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution: <a href="https://themewagon.com">ThemeWagon</a>
            </p>
        </div>
    </div>
</footer>